body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

.slide {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

#chatMessages {
  overflow-y: auto;
  max-height: 280px;
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f2937;
}


